<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Add custom CSS for adjustments */
        .container {
            max-width: 1200px; /* Adjust max-width as needed */
            margin: 0 auto; /* Center the container */
            padding: 0 20px; /* Add some padding to the sides */
        }
    </style>
</head>

<body>
<%- include('header', { title: 'Educator Dashboard' }) %>

<div class="container">
<div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <div class="col-start-2 col-span-7 md:col-span-7 bg-sky-600 p-6 rounded-lg shadow-md  my-16">
        <div class="flex justify-between items-center mb-8">
            <button class="bg-yellow-500 text-white px-4 py-2 rounded-md mt-4  float-right"> <a href="/changePassword">Change Password</a></button>
            <h1 class="text-4xl font-bold text-white">Welcome <%= name %></h1>
            <a href="/signout" class="text-white hover:underline">Sign Out</a>
        </div>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-white mb-4">Administrative Actions:</h2>
            <button class="bg-white text-sky-600 px-4 py-2 p-2 m-3 rounded-md hover:bg-sky-300 focus:outline-none focus:ring focus:border-white-300 text-black-600"> <a href="/course">Create New Course</a></button> <br>
            <button class="bg-white text-sky-600 px-4 py-2 p-2 m-3 rounded-md hover:bg-sky-300 focus:outline-none focus:ring focus:border-white-300 ml-4 text-white-900"><a href="/educatorcourses">My Courses</a></button> <br>
            
        </div>

        <div>
            <h2 class="text-2xl font-semibold text-white mb-4">Available Courses:</h2>
            <ul class="list-disc text-white">
                <% if (availableCourses && availableCourses.length > 0) { %>
                    <% availableCourses.forEach(course => { %>
                        <li><%= course.courseName %></li>
                        <% if (course.userId === currentUser.id) { %>
                            <button class="bg-white text-sky-600 px-4 py-2 p-2 m-3 rounded-md hover:bg-sky-300 focus:outline-none focus:ring focus:border-white-300 ml-4 text-white-900"> <a href="/courseEnrollments/<%= course.id %>">View Progress</a></button> <br>
                        <% } %>
                    <% }); %>
                <% } else { %>
                    <li>No available courses</li>
                <% } %>
                
            </ul>
        </div>
    </div>
</div>
</div>

<%- include('footer') %>
</body>
</html>
