<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Pages</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    
    <%- include('header', { title: 'View Pages' }) %>
    <a href="/view-chapters/<%= course.id %>" class="text-white-600 text-sm font-semibold hover:text-red-900 border-b-2 py-2 mb-4 float-left">Back to Chapters</a>
    <a href="/signout" class="text-white-600 text-sm font-semibold hover:text-red-900 border-b-2 py-2 mb-4 float-right">Sign Out</a>
    <div class="container mx-auto p-6">
        <% if (selectedChapter) { %>
            <h3 class="text-2xl font-bold mt-6 py-2">Pages for <%= selectedChapter.chapterName %></h3>

            <% if (pages.length === 0) { %>
                <p class="text-gray-600">No pages available for this chapter.</p>
            <% } else { %>
                <ul class="list-disc pl-6">
                    <% pages.forEach(page => { %>
                        <li class="mb-2 text-gray-600 hover:text-blue-900"><a href="/page/<%= page.id %>"><%= page.title %></a></li>
                        
                    <% }) %>
                </ul>
            <% } %>
        <% } %>
    </div>
    <%- include('footer') %>
</body>

</html>
